
@import"../globals.scss";

h1{
    color: $main-color;
    font-size: 1.75em;
    text-align: center;
}

header{
    display: flex;
    flex-direction: column;

    h1{
        align-self: center;
    }

    .menu__{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:2em;
        &btn{
            width: 2em;
            height: 2em;
        }
        &dropdown{
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            opacity: 0;
            overflow: hidden;
            transform: translateX(-50px);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
            
            li{
                opacity: 0;
                transform: translateX(-20px);
                border: 0.05em $softer-main-color solid;
            }
        }
    }
    
}
.menu__dropdown.menu__open {
    opacity: 1;
    transform: translateX(0);
    
    li {
        opacity: 1;
        transform: translateX(0);
        animation: slideIn 0.5s ease-in-out forwards;
    }
}
.menu__dropdown:not(.menu__open) li {
    animation: slideOut 0.3s ease-in-out forwards;
}