@use 'variables' as *;
@use 'sass:color';

.cv{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;

 &__icon{
    border: none;
    border-radius: 8px;
    padding: 0.2rem;
    width: 28px;
    height: 28px;
    background-color: $main-color;
    color: white;
    
    &:hover {
        background-color: color.scale($main-color,$lightness: 10%);
      }
 }

}