//Variables couleurs
$background: #F5E9E2;
$main-color:#386641;
$softer-main-color:#6A994E;
$secondary-color:#333;
//Variables breakpoint
$breakpoints:(
    'tablet':768px,
    'large':1024px
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    background-color: $background;
  }

  body {
    min-width: 300px;
    margin: 1em 0.5em;
  }
