@use 'variables' as *;

.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    &__intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        gap:0.5em;
    
        &__img{
            width: 20em;
            height: 20em;
            border-radius: 200px;
        }
    
        &__text{
            text-align:justify;
            font-size: 14px;
            line-height: 135%;
        }
    }

    &__skills{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    &__cv{
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }

}