
.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    &__skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    &__cv{
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }

}