@use 'sass:color';

.footerLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.boxExternalLinks{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__links{
        display: flex;
        gap: 0.5em;

        a{
            &:hover{
                color: color.scale(black, $lightness: 50%);
            }
        }
    }
}

.topArrow{
    position:relative;
    right: -4rem;
    cursor: pointer;
    z-index: 10;
}